@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);







*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  outline: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #2d3237;
  color:  #f0f5fa;
}

.login {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
}

.login h1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  color:  #f0f5fa;
  text-align: center;
  & span {
    color:  #84bc44;
  }
}

.login form {
  height: 100%;
  padding: 20px;
  padding-bottom: 40px;
  background-color: #23282d;
  border-top: 4px solid #3c4146;
  border-bottom: 4px solid #3c4146;
}

.login form input,
.login form button {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #3c4146;
  color: #f8f8f2;
  font-size: 16px;
  line-height: 1.5em;
  border-radius: 4px;
  transition: all .5s ease;
  &::placeholder {
    color: #8c9196;
  }
  &:focus {
    background-color:#50555a;
  }
}

.login form button[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  background-color:  #84bc44;
  color:  #f0f5fa;
  cursor: pointer;
  transition: all .5s ease;
  &:hover {
    background-color: #a1e553;
    color: #6b9937;
  }
}

.morestuff {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  & a {
    transition: color .5s ease;
  }
  & a:link {
    color:  #84bc44;
  }

  & a:hover {
    color:#a1e553;
  }

  & a:visited {
    color:#6b9937;
  }
}